body {
  margin: 0;
}
.slide-container {
  position: relative;
  width: 100%;
}
.slide {
  display: none;
}
.slide img {
  width: 100%;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  color: black;

  padding: 8px 18px;
  font-size: 25px;
  font-weight: bold;
}
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
